.form {
    margin-top: 20px;
    background-color: hsl(240, 67%, 94%);
    color: hsl(240, 67%, 15%);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px -5px 24px 0px #DDDDDD,
        inset 0px 0px 13px 0px #5353DF;
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__fieldset {
    background-color: hsl(240, 68%, 94%);
    border: 1px solid hsl(240, 69%, 75%);
    padding: 20px;
    border-radius: 5px;
    margin:15px;
}

.form__fieldsetInput {
    background-color: hsl(240, 68%, 94%);
    border: 1px solid hsl(240, 69%, 75%);
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid hsl(240, 67%, 75%);
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(240, 67%, 94%);
    color: hsl(240, 67%, 15%);
}

.form__button:hover {
    background-color: hsl(240, 67%, 90%);
}

.form__result {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid hsl(240, 67%, 75%);
    padding: 5px;
    border-radius: 5px;
    color: hsl(240, 67%, 15%);
    text-align: center;
}

.form__note {
    font-size: 0.85em;
}

.form__legend {
    width: 90%;
    border: 1px solid hsl(240, 67%, 75%);
    padding: 5px;
    border-radius: 5px;
    color: hsl(240, 67%, 15%);
    text-align: center;

}